body{
    margin:0px;
    padding: 1px;
    background: green;
}

.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 1px;
    background: blue;

}

.logo{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    /*margin: auto;*/
    padding: 1%;
    background: red;
}

.imagLogo{
    margin-top: 0%;
    margin-left: 1%;
    float: inherit;
}

h1{
    text-align: center;
    display: inline-block;
}

.imagLogo_der{
    margin-top: 1%;
    margin-right: 3%;
    float: right;
    width: 5%;
}



.izq{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    background: yellow;
}

.der{
    float: right;
    width: 30%;
    height: autp;
    border-radius: 24px;
    background: orange;
}

.botoneraizq{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    background: pink;
}



.titulo{
    display: inline-block;
    float: inherit;
    margin-left: 0%;
}

.input-text{
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    border: none;
    outline: none;
    border-radius: 15px;
}

#out-text{
    float: left;
    margin: 8%;
    border: none;
    outline: none;
    border-radius: 15px;
}

#btn-encriptar{
    padding: 14px;
    width: 30%;
    height: 60%;
    margin-left: 15%;
    background: blue;
    border-radius: 15px;
    color: white;
}

#btn-desencriptar{
    padding: 14px;
    width: 30%;
    height: 60%;
    margin-left: 10%;
    background: red;
    border-radius: 15px;
    color: white;
}
